<%- contentFor( 'body' ) %>
    <style>
        div img {
            margin-top: 5px;
            float: right;
            width: 400px;

        }

        figcaption {
            float: right;
            clear: right;
            padding: 0px 160px 0px 160px;
            background-color: rgb(238, 238, 238);
            color: #00719c;
        }
    </style>
    <div style="margin: 20px 0;">
        <figure>
            <img src="http://s2.glbimg.com/T2c9SgD9flp7PGVBnlUhX6ikrCs=/s.glbimg.com/og/rg/f/original/2016/05/06/familia3_1.jpg"
                alt="Cruds">
            <figcaption>Os CRUDS?</figcaption>
        </figure>
        <p>Igor Mourão das Neves <span class="copyleft">&copy;</span>, <span class="font-italic">todos os direitos reservados.</span></p>
        <p>Universidade Federal do Ceará.</p>
        <p>O código desta aplicação está sob licença <a
                href="https://github.com/igorNeves007/first-app/blob/main/LICENSE" target="_blank"
                rel="noopener noreferrer" style="color: #00719c;">Gnu Public License version 3.0</a></p>
        <p>O código desta aplicação encontra-se no endereço: <a href="https://github.com/igorNeves007/first-app"
                target="_blank" rel="noopener noreferrer"
                style="color: #00719c;">https://github.com/igorNeves007/first-app</a></p>
        <p>Este projeto foi inspirado no código de <i> Wellington Wagner F. Sarmento</i>, disponível em: <a
                href="https://github.com/wwagner33/first-app2"
                style="color: #00719c;">https://github.com/wwagner33/first-app2</a></p>
    </div>