<%- contentFor( 'body') %>
<div style="margin: 20px 0;">
    <p>Igor Mourão das Neves <span class="copyleft">&copy;</span>, <span class="font-italic">todos os direitos reservados</span></p>
    <p>Universidade Federal do Ceará</p>
    <p>O código desta aplicação está sob licença  <a href="https://github.com/igorNeves007/first-app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer" style="color: #00719c;">Gnu Public License version 3.0</a></p>
    <p>O código desta aplicação encontra-se no endereço: <a href="https://github.com/igorNeves007/first-app" target="_blank" rel="noopener noreferrer" style="color: #00719c;">https://github.com/igorNeves007/first-app</a></p>
</div>